#container {
  width: 960px;
  margin: 30px auto;
  text-align: center;
}

span {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

#nav-container {
  background-color: #333333;
  width: 100%;
  position: relative;
  padding: 10px;
}

.nav-logo {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgb(128, 128, 128);
}

#nav-items {
  width: 60%;
  display: flex;
  flex-direction: row;
  color: gray;
  justify-content: space-around;
  font-size: 20px;
}

#nav-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sub-banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px auto;
}

#section-banner-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  height: 400px;
}
#section-banner-container img {
  width: 50%;
  float: left;
  margin: 0 30px 0 0;
}

#section-banner-content {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#section-banner-content p {
  overflow: auto;
  text-justify: auto;
  line-height: 1.5;
}

button {
  width: 35%;
  height: 100px;
  background-color: black;
  color: white;
  transition: color;
  transition-delay: 360ms;
}

button:hover {
  color: red;
}

#footer {
  width: 100%;
  background-color: #333333;
  height: 100px;
}
